<form #form="ngForm">
    Pokemon Name: <input type="text" [(ngModel)]="pokemon.name" name="name">

    <label for="">Is it Cool?</label>
    <input type="radio" name="isCool" id="" [value]="true" [ngModel]="pokemon.isCool">

    <label for="">Is it Cool?</label>
    <input type="radio" name="isCool" id="" [value]="false" [ngModel]="pokemon.isCool" (ngModelChange)="toggleIsCool($event)">

    <label for="">This is a checkbox</label>
    <input type="checkbox" name="acceptTerms" [(ngModel)]="pokemon.acceptTerms" id="">

</form>

Model: {{pokemon | json}}
Form {{form.value | json}}
